# Node / React
**/node_modules/
**/dist/
**/dist-ssr/

# PHP / Laravel
**/vendor/
backend/.env
backend/.env.backup
backend/storage/*.key
backend/public/storage

# Logs & OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
